@{
    Layout = "~/Views/Shared/_AnimalsLayout.cshtml";
    ViewBag.Title = "Pets";
}

<section class="row mx-4 justify-content-between galleryBG py-4 px-3 my-3">
    <div class="col-12 col-lg-5">
        <img class="rounded-4" src="~/Content/Images/placeholder2.png" />
    </div>
    <div class="col-12 col-lg-7 ps-5">
    </div>
</section>

<section class="row mx-4 justify-content-between galleryBG py-4 px-3 my-3">
    <div class="col-12 col-lg-7 ps-5">
    </div>
    <div class="col-12 col-lg-5">
        <img class="rounded-4" src="~/Content/Images/placeholder2.png" />
    </div>
</section>

<section class="row mx-4 justify-content-between galleryBG py-4 px-3 my-3">
    <div class="col-12 col-lg-5">
        <img class="rounded-4" src="~/Content/Images/placeholder2.png" />
    </div>
    <div class="col-12 col-lg-7 ps-5">
    </div>
</section>

<section class="row mx-4 justify-content-between galleryBG py-4 px-3 my-3">
    <div class="col-12 col-lg-7 ps-5">
    </div>
    <div class="col-12 col-lg-5">
        <img class="rounded-4" src="~/Content/Images/placeholder2.png" />
    </div>
</section>